button{
    float: right;
}
.card-footer{
    padding:1%;
    background-color:white;
    
}
.reaction :hover{
border: none;
transform: none;
}
.can.border {
    position: absolute;
    left: 0;
    background: currentColor;
  }
  .border-top,
.menu .border-bottom {
  width: 100%;
  height: 1px;
  transform: scaleX(0);
}
 
.menu .border-left,
.menu .border-right {
  width: 1px;
  height: 100%;
  transform: scaleY(0);
}
 
.can .border-top,
.can .border-left,
.can .border-right {
  top: 0;
}
 
.can .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}
 
.can .border-top {
  transform-origin: top left;
}
 
.can .border-left {
  transform-origin: bottom left;
}
 
.can .border-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

